# Ignore everything in the repository
*

# But DO NOT ignore directories, so we can recurse into them
!*/
# voluntarily ignore work and results
work
results

# don't ignore dockerfiles
!Dockerfile

# Now, whitelist the files formats to track
!*.R
!*.Rmd
!*.rmd
!*.Qmd
!*.qmd
!*.sh
!*.md
!*.py
# nextflow specific ignores
!*.nf
!*.config
!*.profile
!*.profiles

# And track .gitignore
!.gitignore

# ignore Macintosh's .DS_Store
.DS_Store

