workDir = "work"

docker.enabled = true
// singularity.enabled = true
process.container = "giacomoa/coding_challenge:1.0"

process.maxErrors = 3

params{
    outdir    = "results"
    input_dir = "input"
    reads     = "${params.input_dir}/*.{fastq,fq,fasta,fa}.gz"
    reference = "${baseDir}/data/ref_23S_database.fna"
    table_references = "${baseDir}/data/ref_genes_accessions.tsv"
    min_read_depth        = 10
    min_allele_freq    = 0.05
    min_map_quality     = 20
    min_base_quality    = 23 // we want at least 10x more accuracy of base call than the min_variant_freq to confidently call a base: -10*log10(5e-3) ~ 23
}

// include profiles 
includeConfig "profiles/nextflow.profiles"
